# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
.expo-metro-*
dist/
web-build/
expo-env.d.ts

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Keystores & credentials
*.keystore
credentials/
@zoryaha__teamup-project*.jks

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Expo template
app-example

# Android build artifacts
android/build/
android/app/build/
android/.gradle/
android/local.properties

# EAS
.eas/
